[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.2 debian-openjre:9.5.4
Icon=/home/jay/.local/share/icons/openjdk-8.png
Type=Application
Terminal=true
GenericName=Debian-Openjre 9.5.4
Name=Debian-Openjre 9.5.4
StartupNotify=false
Categories=Development
